<h2>
    <%= book.title %>
</h2>
<img height="150" width="100" src="<%= book.coverImagePath %>">
<div>Author: <%= book.author.name %>
</div>
<div>Publish Date: <%= book.publishDate.toDateString() %>
</div>
<div>Page Count: <%= book.pageCount %>
</div>
<div>Description: <%= book.description %>
</div>

<a href="/books/<%= book.id %>/edit">Edit</a>
<form method="POST" action="/books/<%= book.id %>?_method=DELETE">
    <button type="submit">Delete</button>
</form>
<a href="/authors/<%= book.author.id %>">View Author</a>